body {}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#container {
    height: 100%;
    padding: 0px;
    width: 590px;
    position: absolute;
    right: 0;
    top: 0px;
    left: 682px;
    margin: 0px;
    overflow-x: hidden;
    background-color: white;
}

@media screen and (min-width: 920px) and (max-width:1240px) {
    #container {
        height: 170%;
    }
}

@media screen and (max-width: 920px) {
    #container {
        left: 2px;
        top: 89vh;
        height: 157vh;
        overflow-y: hidden;

    }
}

@media screen and (max-width:575px) {
    #container {
        height: 204vh;
        top: 184px;
        left: 1px;
    }
}

.nav {
    right: 56px;
    top: 23px;
    color: black;
    font-size: medium;
    position: absolute;
}

@media screen and (max-width: 920px) {
    .nav {
        left: 4px;


    }
}

@media screen and (max-width: 575px) {
    .nav {
        right: 420px;
        top: 84px;
        left: 10px;
        display: grid;
        color: black;
        margin: -1px;
        font-size: medium;
        position: absolute;
    }
}

.nav a {
    text-decoration: none;
    padding: 18px;
}

@media screen and (max-width:575px) {
    .nav a {
        padding: 8px;
    }
}

#firstanter {
    color: red;
}




.heading {
    position: absolute;
    top: 71px;
    left: 46px;
    font-size: larger;
}

@media screen and (max-width: 575px) {
    .heading {
        left: 46px;
        top: 209px;
    }
}

@media screen and (max-width: 920px) {
    .heading {
        left: 22px;
    }
}

.para {
    font-size: larger;
    right: 112px;
    left: 47px;
    position: absolute;
    top: 135px;
}

@media screen and (max-width:575px) {
    .para {
        top: 275px;
    }
}

@media screen and (max-width: 920px) {
    .para {
        left: 22px;
    }
}


.copy {
    top: 425px;
    color: rgb(97, 100, 102);
    left: 45px;
    position: relative;
}

@media screen and (max-width:575px) {
    .copy {
        top: 557px;
    }
}

@media screen and (max-width: 920px) {
    .copy {
        left: 22px;
    }
}

.picture {
    height: 587px;
    top: 0px;
    left: 81px;
    position: absolute;
    width: 610px;
}

@media screen and (max-width: 920px) {
    .picture {
        width: 96%;
        height: 62vh;
        top: 72px;
        left: -5px;
        margin: 0px 20px;
    }
}

@media screen and (max-width:575px) {
    .picture {
        width: 191vh;
    }
}


#container3 {
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    background-color: white;
}

#facebook {
    height: 33px;
    position: absolute;
    left: 19px;
    top: 14px;
}

@media screen and (max-width: 920px) {
    #facebook {
        height: 1px;
        width: 1px;
    }
}

/* .logo{

}
@media screen and (max-width: 920px) {
    .logo {
        height: 1px;
        width: 2px;
    }
} */

#instagram {
    height: 23px;
    position: absolute;
    left: 24px;
    top: 58px;
}

@media screen and (max-width: 920px) {
    #instagram {
        height: 1px;
        width: 1px;
    }
}

#twitter {
    height: 23px;
    position: absolute;
    left: 24px;
    top: 96px;
}

@media screen and (max-width: 920px) {
    #twitter {
        height: 1px;
        width: 1px;
    }
}

.column {
    height: 186px;
    width: 20px;
    position: absolute;
    top: 375px;
    left: 29px;
}

@media screen and (max-width: 920px) {
    .column {
        background-color: black;
        height: 2vh;
        top: 19px;
        width: 1px;
        position: relative;
    }
}


@media screen and (max-width: 920px) {
    #container3 {
        /* background-color: black;
        height: 5vh;
        width: 100px; */
    }
}

.row {
    width: 1px;
    height: 1px;
}

@media screen and (max-width: 920px) {
    .row {
        width: 98vh;
        height: 8vh;
        position: absolute;
        top: 27px;
        left: 15px;
    }
}

@media screen and (max-width:575px) {
    .row {
        width: 77vh;
        height: 7vh;
        top: 25px;
        left: 14px;
    }
}

/* .first {}

@media screen and (max-width:575px) {
    .first {
        width: 359%;
        top: -40px;
        position: relative;
    }
}

@media screen and (max-width: 920px) {
    .first {}
}


.second {}

@media screen and (max-width:575px) {
    .second {
        width: 720%;
        top: -3px;
        position: relative;
    }
}

@media screen and (max-width: 920px) {
    .second {
        width: 1117%;
    }
}


.third {}

@media screen and (max-width:575px) {
    .third {
        width: 720%;
        top: -2px;
        position: relative;
    }
}

@media screen and (max-width: 920px) {
    .third {
        width: 1117%;
        top: -3px;
        position: relative;
    }
} */